In [132]:
# importamos las librerías con las que vamos a trabajar
# !pip install psycopg2==2.9.9
# !pip install psycopg2-binary==2.9.9
# !pip install sqlalchemy
# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors
from sqlalchemy import create_engine

# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
pd.options.display.max_columns = None

In [133]:
df = pd.read_csv("CSVs/Supermercados_limpio.csv")

In [134]:
#Conexión a postgres con sqlalchemy
conn_string = "postgresql+psycopg2://postgres:admin@localhost:5432/proyecto4"
engine = create_engine(conn_string)

In [135]:
#Conexion a postgres con psycopg2 para usar los cursores
try:
    conexion = psycopg2.connect(
        database = "proyecto4",
        user = "postgres",
        password = "admin",
        host = "localhost",
        port = "5432"

)
except OperationalError:
    print("la contraseña es errónea")

In [136]:
#Creamos lo que será nuestra tabla de productos
df_productos = df[['Nombre_producto', 'Categoría']].drop_duplicates().reset_index()
df_productos.drop(columns = "index",inplace = True)
df_productos = df_productos.reset_index()

In [137]:
df_productos.rename(columns = {"index":"id_producto"},inplace= True)
df_productos.rename(columns = {"Nombre_producto":"nombre"},inplace= True)
df_productos.rename(columns = {"Categoría": "categoria"}, inplace= True)

#Creamos la tabla "Supermercados"
df_supermercados = df['Supermercado'].drop_duplicates().reset_index()
df_supermercados.rename(columns={"index":"id_supermercado"}, inplace = True)
df_supermercados.rename(columns={"Supermercado":"supermercado"}, inplace = True)

In [138]:
df_supermercados

   id_supermercado supermercado
0                0      alcampo
1            33001    carrefour
2            51362          dia
3            65392       eroski
4            90187     hipercor
5           131369    mercadona

In [139]:
#Creamos la tabla "Precio"
precios = pd.DataFrame({
    'id_precio': range(1, len(df)+1),  
    'producto_id': df_productos['id_producto'],  
    'supermercado_id': df_supermercados['id_supermercado'],  
    'fecha': df['Fecha'],
    'precio': df['Precio'],
    'variacion': df['Variación'],
    
})

In [140]:
query_productos = """
    DROP TABLE IF EXISTS productos;
    CREATE TABLE IF NOT EXISTS productos (
        id_producto SERIAL PRIMARY KEY,
        nombre VARCHAR(255) NOT NULL,
        categoria VARCHAR(100) NOT NULL
    );
"""

query_supermercados = """
    DROP TABLE IF EXISTS supermercados;
    CREATE TABLE IF NOT EXISTS supermercados (
        id_supermercado SERIAL PRIMARY KEY,
        supermercado VARCHAR(100) NOT NULL UNIQUE
    );
"""

query_precios = """
    DROP TABLE IF EXISTS precios;
    CREATE TABLE IF NOT EXISTS precios (
        id_precio SERIAL PRIMARY KEY,
        producto_id INT NOT NULL,  
        supermercado_id INT NOT NULL,  
        fecha DATE NOT NULL,
        precio DECIMAL(10, 2) NOT NULL,
        variacion DECIMAL(10, 2),

        FOREIGN KEY (producto_id)  
        REFERENCES productos(id_producto) ON DELETE CASCADE,  
        
        FOREIGN KEY (supermercado_id) 
        REFERENCES supermercados(id_supermercado) ON DELETE CASCADE, 

        CONSTRAINT unique_price_entry UNIQUE (producto_id, supermercado_id, fecha)
    );
"""



cursor = conexion.cursor()
cursor.execute(query_productos)
cursor.execute(query_supermercados)
cursor.execute(query_precios)
conexion.commit()
conexion.close()

DependentObjectsStillExist: no se puede eliminar tabla productos porque otros objetos dependen de él
DETAIL:  restricción «precios_producto_id_fkey» en tabla precios depende de tabla productos
HINT:  Use DROP ... CASCADE para eliminar además los objetos dependientes.

In [130]:
precios.to_sql('precios', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) no existe la columna «id» en la relación «precios»
LINE 1: INSERT INTO precios (id, producto_id, supermercado_id, fecha...
                             ^

[SQL: INSERT INTO precios (id, producto_id, supermercado_id, fecha, precio, variacion) VALUES (%(id__0)s, %(producto_id__0)s, %(supermercado_id__0)s, %(fecha__0)s, %(precio__0)s, %(variacion__0)s), (%(id__1)s, %(producto_id__1)s, %(supermercado_id__1)s, %( ... 115076 characters truncated ... %(producto_id__999)s, %(supermercado_id__999)s, %(fecha__999)s, %(precio__999)s, %(variacion__999)s)]
[parameters: {'precio__0': 5.88, 'producto_id__0': 0.0, 'variacion__0': 0.0, 'fecha__0': '2024-06-30', 'supermercado_id__0': 0.0, 'id__0': 1, 'precio__1': 5.88, 'producto_id__1': 1.0, 'variacion__1': 0.0, 'fecha__1': '2024-07-01', 'supermercado_id__1': 33001.0, 'id__1': 2, 'precio__2': 5.88, 'producto_id__2': 2.0, 'variacion__2': 0.0, 'fecha__2': '2024-07-12', 'supermercado_id__2': 51362.0, 'id__2': 3, 'precio__3': 5.88, 'producto_id__3': 3.0, 'variacion__3': 0.0, 'fecha__3': '2024-07-13', 'supermercado_id__3': 65392.0, 'id__3': 4, 'precio__4': 5.88, 'producto_id__4': 4.0, 'variacion__4': 0.0, 'fecha__4': '2024-07-14', 'supermercado_id__4': 90187.0, 'id__4': 5, 'precio__5': 5.88, 'producto_id__5': 5.0, 'variacion__5': 0.0, 'fecha__5': '2024-07-15', 'supermercado_id__5': 131369.0, 'id__5': 6, 'precio__6': 5.88, 'producto_id__6': 6.0, 'variacion__6': 0.0, 'fecha__6': '2024-07-16', 'supermercado_id__6': None, 'id__6': 7, 'precio__7': 5.88, 'producto_id__7': 7.0, 'variacion__7': 0.0, 'fecha__7': '2024-07-17', 'supermercado_id__7': None, 'id__7': 8, 'precio__8': 5.88, 'producto_id__8': 8.0 ... 5900 parameters truncated ... 'supermercado_id__991': None, 'id__991': 992, 'precio__992': 2.19, 'producto_id__992': 992.0, 'variacion__992': 0.0, 'fecha__992': '2024-08-29', 'supermercado_id__992': None, 'id__992': 993, 'precio__993': 2.19, 'producto_id__993': 993.0, 'variacion__993': 0.0, 'fecha__993': '2024-08-30', 'supermercado_id__993': None, 'id__993': 994, 'precio__994': 2.19, 'producto_id__994': 994.0, 'variacion__994': 0.0, 'fecha__994': '2024-08-31', 'supermercado_id__994': None, 'id__994': 995, 'precio__995': 2.19, 'producto_id__995': 995.0, 'variacion__995': 0.0, 'fecha__995': '2024-09-01', 'supermercado_id__995': None, 'id__995': 996, 'precio__996': 2.19, 'producto_id__996': 996.0, 'variacion__996': 0.0, 'fecha__996': '2024-09-02', 'supermercado_id__996': None, 'id__996': 997, 'precio__997': 2.19, 'producto_id__997': 997.0, 'variacion__997': 0.0, 'fecha__997': '2024-09-03', 'supermercado_id__997': None, 'id__997': 998, 'precio__998': 2.19, 'producto_id__998': 998.0, 'variacion__998': 0.0, 'fecha__998': '2024-09-04', 'supermercado_id__998': None, 'id__998': 999, 'precio__999': 2.19, 'producto_id__999': 999.0, 'variacion__999': 0.0, 'fecha__999': '2024-09-05', 'supermercado_id__999': None, 'id__999': 1000}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [105]:
df_supermercados.to_sql('supermercados', con=engine, if_exists='append', index=False)

6

In [106]:
df_productos.to_sql('productos', con=engine, if_exists='append', index=False)

597